body, html{
	height: 100%;
	font-family: 'opensans', 'arial';
	font-size: 14px;	
}

.ng-cloak{
	display: none;
}

br.clear{ clear: both; }

.separator.size.s1{ display: block; clear: both; height: 20px; }

.container-main{
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.container-main .header{ padding: 20px 20px 0 20px; }
.container-main .header-content{ padding: 20px 20px 0 20px; text-align: right; }
.container-main .menuitems{ padding: 20px; }
.container-main .content{ padding-top: 20px; }

.container-main .container{ height: 100%; }
.container-main .container .lower{ height: calc( 100% - 40px ); }
.container-main .container .lower .content{ height: 100%; }
.container-main .container .lower .content{ height: 100%; }
.container-main .container .lower .content .tab{
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}


.margined-icon{ margin-right: 10px; }

a{ cursor: pointer; }

.panel-body p{
	line-height: 20px;
}

.servicesTab .panel{
	margin-bottom: 20px;
}

.ordersTab h4{ margin-bottom: 20px; font-size: 25px; }
.ordersTab h3{ font-weight: bold; margin-bottom: 10px; }
.ordersTab h2{ font-weight: bold; margin-bottom: 10px; }
.ordersTab p{
	margin-bottom: 20px;
	line-height: 20px;
}


.pagination-container{
	text-align: center;
	margin-top: 20px;
}

.with-title tr td:first-child{
	width: 200px;
}

.dealersTab h4{ font-size: 20px; margin-bottom: 15px; }
.dealersTab span.address{ margin-bottom: 15px; display: block; line-height: 20px;}
.dealersTab .label-container{ margin-bottom: 15px; }

.payinfoTab h4{ font-size: 20px; margin-bottom: 20px; }
.payinfoTab h3{ font-size: 15px; margin-bottom: 10px; }

.table-title{
	font-weight: bold;
	padding-left: 7px;
}

.modal-popup.black{
	background: rgba(0,0,0,0.2);
}

.modal-popup{
	z-index: 10;
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
}
.modal-popup .modal-popup-content{
	position: absolute;
	left: 50%; top: 10%;
	margin: 0 auto;
	overflow: hidden;
}

.modal-popup.s400 .modal-popup-content{
	margin-left: -200px; margin-top: -200px;
	width: 400px;
}

.chart-container{
	border: 1px transparent solid;
	padding: 20px;
	box-sizing: border-box;
	float: left; 
	border-radius: 10px;

}

.chart-container.last{
	float: right;
}

canvas{ 
	width: 100%;
	max-height: 250px !important; 
}

.edit-service{
	border-radius: 5px;
	border: 1px #bbb solid;
	background: #ffffff;
	padding: 20px;
}

.edit-service h3{
	font-size: 20px;
	margin-bottom: 10px;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.modal-popup.sfull .modal-popup-content{
		left: 0; top: 0;
		width: 100%; height: 100%;
		box-sizing: border-box;
	}
	.edit-service{ 
		border-radius: 0; height: 100%;
		border: none;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.modal-popup.sfull .modal-popup-content{
		left: 50%; top: 10%; margin-left: -40%;
		width: 80%; height: auto;
	}
	.edit-service{ 
		height: auto;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.modal-popup.sfull .modal-popup-content{
		left: 50%; margin-left: -30%;
		width: 60%;
	}
	.edit-service{ 
		border-radius: 5px; 
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}




